table.border th, tr, td  {
    border: 1px solid black;
	border-collapse: collapse;
}

.center {
	text-align: center;
}

button {

}

button[disabled] { 
	background: #aaa;
	box-shadow:inset -1px -1px 1px rgba(white,.2);
	text-shadow:0 -1px 0 rgba(white,.2);
}