@CHARSET "UTF-8";

div.canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}

div.canvas>.map {
	width: 25%;
	height: 50%;
	bottom: 0px;
	right: 0px;
	position: absolute;
}

div.canvas>.timeline {
	width: 75%;
	height: 100%;
}

div#tweet-canvas {

}

div#tweet-canvas>.profile {
	position: absolute;
	width: 25%;
	height: 25%;
	top: 0px;
	right: 0px;
	padding: 5px;
}

div#tweet-canvas>.profile .profile-image {
	position: absolute;
	right: 10px;
	top: 10px;
}

div#tweet-canvas>.information-panel {
	position: absolute;
	width: 25%;
	height: 25%;
	padding: 5px;
	right: 0px;
	top: 25%;
}

div#retweet-canvas {
	background: linear-gradient(rgba(242, 238, 179, 0.9) 0%,
	  rgba(191, 175, 128, 0.9) 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

div.timeline g.timeline-element {
	cursor: pointer;
}

div.timeline g.timeline-element>text {
	fill: #bfaf80;
}

div.timeline g.x line {
	stroke: #8c6954;
}

div.timeline g.x text {
	fill: #260126;
}

div.timeline g.timeline-element>rect {
	fill-opacity: 0.8;
	stroke: black;
	stroke-width: 0px;
	filter: url(#blur);
}

div.timeline g.timeline-element.tweet>rect {
	fill: #59323c;
}

div.timeline g.timeline-element.tweet:hover>rect,
div.timeline g.timeline-element.tweet.selected>rect {
	fill: #260126;
}

div.timeline g.timeline-element.tweet:hover>text,
div.timeline g.timeline-element.mention:hover>text {
	fill: #f2eeb3;
}

div.timeline g.timeline-element.mention>rect {
	fill: #005200;
}

div.timeline g.timeline-element.mention:hover>rect,
div.timeline g.timeline-element.mention.selected>rect {
	fill: #003600;
}

div#tweet-canvas div.controls {
	z-index: 9999999999999999999999999999999999999;
	position: absolute;
	top: 0px;
	left: 0px;
}

g.timeline-link path {
	fill: none;
	stroke: #333;
	stroke-width: 3px;
	cursor: default;
}
