@CHARSET "UTF-8";

div.canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}

div.canvas>.timeline {
	width: 95%;
	height: 99%;
	margin: auto;
}

div#tweet-canvas {

}

div.timeline g.timeline-element {
	cursor: pointer;
}

div.timeline g.timeline-element>text {
	fill: #bfaf80;
}

div.timeline g.x line {
	stroke: #8c6954;
}

div.timeline g.x text {
	fill: #260126;
}

div.timeline g.timeline-element>circle,
div.timeline g.information-display>path {
	fill-opacity: 0.8;
	stroke: black;
	stroke-width: 0px;
	filter: url(#blur);
}

div.timeline g.timeline-element.TWEET>circle,
div.timeline g.information-display.TWEET>path {
	fill: #57c6e4;
}

div.timeline g.timeline-element.MENTION>circle,
div.timeline g.information-display.MENTION>path {
	fill: #eacf96;
}

div.timeline g.timeline-element.QUOTED_TWEET>circle,
div.timeline g.information-display.QUOTED_TWEET>path {
	fill: #9cbdec;
}

div.timeline g.timeline-element.RETWEET>circle,
div.timeline g.information-display.RETWEET>path {
	fill: #b1bf81;
}

div.timeline g.timeline-element.FRIEND_RETWEET>circle,
div.timeline g.information-display.FRIEND_RETWEET>path {
	fill: #e7aada;
}

div.timeline g.timeline-element.FRIEND_OF_FRIEND_RETWEET>circle,
div.timeline g.information-display.FRIEND_OF_FRIEND_RETWEET>path {
	fill: #93ead4;
}

div.timeline g.timeline-element.YOU_FAVOURITED>circle,
div.timeline g.information-display.YOU_FAVOURITED>path {
	fill: #edaab4;
}

div.timeline g.timeline-element.YOU_UNFAVOURITED>circle,
div.timeline g.information-display.YOU_UNFAVOURITED>path {
	fill: #6ad9df;
}

div.timeline g.timeline-element.FAVOURITED_YOU>circle,
div.timeline g.information-display.FAVOURITED_YOU>path {
	fill: #e7b393;
}

div.timeline g.timeline-element.UNFAVOURITED_YOU>circle,
div.timeline g.information-display.UNFAVOURITED_YOU>path {
	fill: #9ddef2;
}

div.timeline g.timeline-element.FAVOURITED_RETWEET>circle,
div.timeline g.information-display.FAVOURITED_RETWEET>path {
	fill: #deeaaf;
}

div.timeline g.timeline-element.YOU_FOLLOWED>circle,
div.timeline g.information-display.YOU_FOLLOWED>path {
	fill: #d0b8e5;
}

div.timeline g.timeline-element.FOLLOWED_YOU>circle,
div.timeline g.information-display.FOLLOWED_YOU>path {
	fill: #94c89f;
}

div.timeline g.timeline-element.YOU_UNFOLLOWED>circle,
div.timeline g.information-display.YOU_UNFOLLOWED>path {
	fill: #cec7a1;
}

div.timeline g.timeline-element.BLOCK>circle,
div.timeline g.information-display.BLOCK>path {
	fill: #91cec7;
}

div.timeline g.timeline-element.UNBLOCK>circle,
div.timeline g.information-display.UNBLOCK>path {
	fill: #bfecc1;
}

div.timeline g.timeline-element.TWEET:hover>circle,
div.timeline g.timeline-element.TWEET.selected>circle,
div.timeline g.timeline-element.MENTION:hover>circle,
div.timeline g.timeline-element.MENTION.selected>circle,
div.timeline g.timeline-element.QUOTED_TWEET:hover>circle,
div.timeline g.timeline-element.QUOTED_TWEET.selected>circle,
div.timeline g.timeline-element.RETWEET:hover>circle,
div.timeline g.timeline-element.RETWEET.selected>circle,
div.timeline g.timeline-element.FRIEND_RETWEET:hover>circle,
div.timeline g.timeline-element.FRIEND_RETWEET.selected>circle,
div.timeline g.timeline-element.FRIEND_OF_FRIEND_RETWEET:hover>circle,
div.timeline g.timeline-element.FRIEND_OF_FRIEND_RETWEET.selected>circle,
div.timeline g.timeline-element.YOU_FAVOURITED:hover>circle,
div.timeline g.timeline-element.YOU_FAVOURITED.selected>circle,
div.timeline g.timeline-element.YOU_UNFAVOURITED:hover>circle,
div.timeline g.timeline-element.YOU_UNFAVOURITED.selected>circle,
div.timeline g.timeline-element.FAVOURITED_YOU:hover>circle,
div.timeline g.timeline-element.FAVOURITED_YOU.selected>circle,
div.timeline g.timeline-element.UNFAVOURITED_YOU:hover>circle,
div.timeline g.timeline-element.UNFAVOURITED_YOU.selected>circle,
div.timeline g.timeline-element.FAVOURITED_RETWEET:hover>circle,
div.timeline g.timeline-element.FAVOURITED_RETWEET.selected>circle,
div.timeline g.timeline-element.YOU_FOLLOWED:hover>circle,
div.timeline g.timeline-element.YOU_FOLLOWED.selected>circle,
div.timeline g.timeline-element.FOLLOWED_YOU:hover>circle,
div.timeline g.timeline-element.FOLLOWED_YOU.selected>circle,
div.timeline g.timeline-element.YOU_UNFOLLOWED:hover>circle,
div.timeline g.timeline-element.YOU_UNFOLLOWED.selected>circle,
div.timeline g.timeline-element.BLOCK:hover>circle,
div.timeline g.timeline-element.BLOCK.selected>circle,
div.timeline g.timeline-element.UNBLOCK:hover>circle,
div.timeline g.timeline-element.UNBLOCK.selected>circle {
	fill: #000000;
}

.TWEET {
	background-color: rgba(87,198,228, 0.8);
	color: #000000;
}

.MENTION {
	background-color: rgba(234,207,150, 0.8);
	color: #000000;
}

.QUOTED_TWEET {
	background-color: rgba(156,189,236, 0.8);
	color: #000000;
}

.RETWEET {
	background-color: rgba(177,191,129, 0.8);
	color: #000000;
}

.FRIEND_RETWEET {
	background-color: rgba(231,170,218, 0.8);
	color: #000000;
}

.FRIEND_OF_FRIEND_RETWEET {
	background-color: rgba(147,234,212, 0.8);
	color: #000000;
}

.YOU_FAVOURITED {
	background-color: rgba(237,170,180, 0.8);
	color: #000000;
}

.YOU_UNFAVOURITED {
	background-color: rgba(106,217,223, 0.8);
	color: #000000;
}

.FAVOURITED_YOU {
	background-color: rgba(231,179,147, 0.8);
	color: #000000;
}

.UNFAVOURITED_YOU {
	background-color: rgba(157,222,242, 0.8);
	color: #000000;
}

.FAVOURITED_RETWEET {
	background-color: rgba(222,234,175, 0.8);
	color: #000000;
}

.YOU_FOLLOWED {
	background-color: rgba(208,184,229, 0.8);
	color: #000000;
}

.FOLLOWED_YOU {
	background-color: rgba(148,200,159, 0.8);
	color: #000000;
}

.YOU_UNFOLLOWED  {
	background-color: rgba(206,199,161, 0.8);
	color: #000000;
}

.BLOCK {
	background-color: rgba(145,206,199, 0.8);
	color: #000000;
}

.UNBLOCK  {
	background-color: rgba(191,236,193, 0.8);
	color: #000000;
}

.legend {
	font-weight: bold;
}

.sidebar {
	padding: 0px;
	margin: 0px;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 20px;
	width: 15%;
	overflow: none;
}

.legend ul {
	list-style-type: none;
	height: 100%;
	width: 100%;
}

.legend-entry {
	padding-left: 10px;
	padding-right: 15px;
	text-align: left;
	height: 6%;
	width: 100%;
	border-radius: 0px 50px 50px 0px;
}

.link line {
	stroke: #57c6e4;
	stroke-width: 1;
}

div.timeline g.link.TWEET>line {
	stroke: #57c6e4;
}

div.timeline g.link.MENTION>line {
	stroke: #eacf96;
}

div.timeline g.link.QUOTED_TWEET>line {
	stroke: #9cbdec;
}

div.timeline g.link.RETWEET>line {
	stroke: #b1bf81;
}

div.timeline g.link.FRIEND_RETWEET>line {
	stroke: #e7aada;
}

div.timeline g.link.FRIEND_OF_FRIEND_RETWEET>line {
	stroke: #93ead4;
}

div.timeline g.link.YOU_FAVOURITED>line {
	stroke: #edaab4;
}

div.timeline g.link.YOU_UNFAVOURITED>line {
	stroke: #6ad9df;
}

div.timeline g.link.FAVOURITED_YOU>line {
	stroke: #e7b393;
}

div.timeline g.link.UNFAVOURITED_YOU>line {
	stroke: #9ddef2;
}

div.timeline g.link.FAVOURITED_RETWEET>line {
	stroke: #deeaaf;
}

div.actions {
	position: absolute;
	top: 2px;
	right: 2px;
}

div.information-display {
	width: 400px;
	padding: 0px;
	margin: 0px;
}
