@CHARSET "UTF-8";

div.canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}

div.canvas>.map {
	width: 25%;
	height: 50%;
	bottom: 0px;
	right: 0px;
	position: absolute;
}

div.canvas>.timeline {
	width: 95%;
	height: 100%;
	margin: auto;
}

div#tweet-canvas {

}

div#tweet-canvas .profile {
	padding-top: 5px;
}

div#tweet-canvas .profile .profile-image {
	position: absolute;
	right: 10px;
	top: 10px;
}

div.timeline g.timeline-element {
	cursor: pointer;
}

div.timeline g.timeline-element>text {
	fill: #bfaf80;
}

div.timeline g.x line {
	stroke: #8c6954;
}

div.timeline g.x text {
	fill: #260126;
}

div.timeline g.timeline-element>circle {
	fill-opacity: 0.8;
	stroke: black;
	stroke-width: 0px;
	filter: url(#blur);
}

div.timeline g.timeline-element.TWEET>circle {
	fill: #59323c;
}

div.timeline g.timeline-element.TWEET:hover>circle,
div.timeline g.timeline-element.TWEET.selected>circle {
	fill: #AA7885;
}

div.timeline g.timeline-element.MENTION>circle {
	fill: #3A0D18;
}

div.timeline g.timeline-element.MENTION:hover>circle,
div.timeline g.timeline-element.MENTION.selected>circle {
	fill: #AA7885;
}

div.timeline g.timeline-element.QUOTED_TWEET>circle {
	fill: #4F1E2A;
}

div.timeline g.timeline-element.QUOTED_TWEET:hover>circle,
div.timeline g.timeline-element.QUOTED_TWEET.selected>circle {
	fill: #AA7885;
}

div.timeline g.timeline-element.RETWEET>circle {
	fill: #624537;
}

div.timeline g.timeline-element.RETWEET:hover>circle,
div.timeline g.timeline-element.RETWEET.selected>circle {
	fill: #BA9684;
}

div.timeline g.timeline-element.FRIEND_RETWEET>circle {
	fill: #573221;
}

div.timeline g.timeline-element.FRIEND_RETWEET:hover>circle,
div.timeline g.timeline-element.FRIEND_RETWEET.selected>circle {
	fill: #BA9684;
}

div.timeline g.timeline-element.FRIEND_OF_FRIEND_RETWEET>circle {
	fill: #401E0E;
}

div.timeline g.timeline-element.FRIEND_OF_FRIEND_RETWEET:hover>circle,
div.timeline g.timeline-element.FRIEND_OF_FRIEND_RETWEET.selected>circle {
	fill: #BA9684;
}

div.timeline g.timeline-element.YOU_FAVOURITED>circle {
	fill: #3E6155;
}

div.timeline g.timeline-element.YOU_FAVOURITED:hover>circle,
div.timeline g.timeline-element.YOU_FAVOURITED.selected>circle {
	fill: #597D70;
}

div.timeline g.timeline-element.YOU_UNFAVOURITED>circle {
	fill: #254137;
}

div.timeline g.timeline-element.YOU_UNFAVOURITED:hover>circle,
div.timeline g.timeline-element.YOU_UNFAVOURITED.selected>circle {
	fill: #597D70;
}

div.timeline g.timeline-element.FAVOURITED_YOU>circle {
	fill: #163A2D;
}

div.timeline g.timeline-element.FAVOURITED_YOU:hover>circle,
div.timeline g.timeline-element.FAVOURITED_YOU.selected>circle {
	fill: #597D70;
}

div.timeline g.timeline-element.UNFAVOURITED_YOU>circle {
	fill: #0A2B1F;
}

div.timeline g.timeline-element.UNFAVOURITED_YOU:hover>circle,
div.timeline g.timeline-element.UNFAVOURITED_YOU.selected>circle {
	fill: #597D70;
}

div.timeline g.timeline-element.FAVOURITED_RETWEET>circle {
	fill: #021A12;
}

div.timeline g.timeline-element.FAVOURITED_RETWEET:hover>circle,
div.timeline g.timeline-element.FAVOURITED_RETWEET.selected>circle {
	fill: #597D70;
}

div.timeline g.timeline-element.YOU_FOLLOWED>circle {
	fill: #3F5630;
}

div.timeline g.timeline-element.YOU_FOLLOWED:hover>circle,
div.timeline g.timeline-element.YOU_FOLLOWED.selected>circle {
	fill: #87A374;
}

div.timeline g.timeline-element.FOLLOWED_YOU>circle {
	fill: #2E4C1D;
}

div.timeline g.timeline-element.FOLLOWED_YOU:hover>circle,
div.timeline g.timeline-element.FOLLOWED_YOU.selected>circle {
	fill: #87A374;
}

div.timeline g.timeline-element.YOU_UNFOLLOWED>circle {
	fill: #021A12;
}

div.timeline g.timeline-element.YOU_UNFOLLOWED:hover>circle,
div.timeline g.timeline-element.YOU_UNFOLLOWED.selected>circle {
	fill: #1E380D;
}

g.timeline-link path {
	fill: none;
	stroke: #333;
	stroke-width: 2px;
	cursor: default;
	filter: url(#blur);
}

.legend>ul {
	list-style-type: none;
}

.legend-entry {
	color: white;
	padding: 3px;
	text-align: center;
}

.TWEET {
	background-color: #59323c;
}

.MENTION {
	background-color: #3A0D18;
}

.QUOTED_TWEET {
	background-color: #4F1E2A;
}

.RETWEET {
	background-color: #624537;
}

.FRIEND_RETWEET {
	background-color: #573221;
}

.FRIEND_OF_FRIEND_RETWEET {
	background-color: #401E0E;
}

.YOU_FAVOURITED {
	background-color: #3E6155;
}

.YOU_UNFAVOURITED {
	background-color: #254137;
}

.FAVOURITED_YOU {
	background-color: #163A2D;
}

.UNFAVOURITED_YOU {
	background-color: #0A2B1F;
}

.FAVOURITED_RETWEET {
	background-color: #021A12;
}

.YOU_FOLLOWED {
	background-color: #3F5630;
}

.FOLLOWED_YOU {
	background-color: #2E4C1D;
}

.YOU_UNFOLLOWED  {
	background-color: #1E380D;
}

.legend {
	font-weight: bold;
}

.sidebar {
	padding: 5px;
	height: 100%;
	position: fixed;
	right: 10px;
	top: 10px;
	width: 20%;
	overflow: auto;
	background: linear-gradient(rgba(242, 238, 179, 0.8) 0%, rgba(191, 175, 128, 0.8) 90%);
	background-repeat: no-repeat;
	background-attachment: fixed;
}
