@CHARSET "UTF-8";

div.canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}

div.canvas>.map {
	width: 25%;
	height: 50%;
	bottom: 0px;
	right: 0px;
	position: absolute;
}

div.canvas>.timeline {
	width: 95%;
	height: 100%;
	margin: auto;
}

div#tweet-canvas {

}

div#tweet-canvas .profile {
	padding-top: 5px;
}

div#tweet-canvas .profile .profile-image {
	position: absolute;
	right: 10px;
	top: 10px;
}

div.timeline g.timeline-element {
	cursor: pointer;
}

div.timeline g.timeline-element>text {
	fill: #bfaf80;
}

div.timeline g.x line {
	stroke: #8c6954;
}

div.timeline g.x text {
	fill: #260126;
}

div.timeline g.timeline-element>circle {
	fill-opacity: 0.8;
	stroke: black;
	stroke-width: 0px;
	filter: url(#blur);
}

div.timeline g.timeline-element.TWEET>circle {
	fill: #59323c;
}

div.timeline g.timeline-element.TWEET:hover>circle,
div.timeline g.timeline-element.TWEET.selected>circle {
	fill: #AA7885;
}

div.timeline g.timeline-element.MENTION>circle {
	fill: #254137;
}

div.timeline g.timeline-element.MENTION:hover>circle,
div.timeline g.timeline-element.MENTION.selected>circle {
	fill: #597D70;
}

div.timeline g.timeline-element.RETWEET>circle {
  fill: #624537;
}

div.timeline g.timeline-element.RETWEET:hover>circle,
div.timeline g.timeline-element.RETWEET.selected>circle {
  fill: #BA9684;
}

div.timeline g.timeline-element.FRIEND_RETWEET>circle {
  fill: #401E0E;
}

div.timeline g.timeline-element.FRIEND_RETWEET:hover>circle,
div.timeline g.timeline-element.FRIEND_RETWEET.selected>circle {
  fill: #BA9684;
}

g.timeline-link path {
	fill: none;
	stroke: #333;
	stroke-width: 2px;
	cursor: default;
	filter: url(#blur);
}

.TWEET {
	color: #59323c;
}

.MENTION {
  color: #254137;
}

.RETWEET {
  color: #624537;
}

.FRIEND_RETWEET {
  color: #401E0E;
}

.legend {
	font-weight: bold;
}

.sidebar {
	padding: 5px;
	height: 100%;
	position: fixed;
  right: 10px;
  top: 10px; 
  width: 20%;
  overflow: auto;
  background: linear-gradient(rgba(242, 238, 179, 0.8) 0%, rgba(191, 175, 128, 0.8) 90%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
