@CHARSET "UTF-8";

#profile {
	position: absolute;
	width: 25%;
	height: 50%;
	top: 0px;
	right: 0px;
	padding: 5px;
}

#profile div {
	float: left;
}

#map {
	width: 25%;
	height: 50%;
	bottom: 0px;
	right: 0px;
	position: absolute;
	z-index: 999;
}

#timeline {
	width: 75%;
	height: 100%;
}

.timeline {
	position: absolute;
	top: 0px;
	left: 0px;
}

.timeline-plot {
	opacity: 0;
}

circle.close {
	fill: red;
	fill-opacity: 0.8;
	cursor: pointer;
	stroke: black;
	stroke-width: 2px;
}

circle.close:hover {
	fill: black;
	stroke: red;
}

.tweet text, .axis {
	font-size: 12px;
}

.tweet text, .tweet rect {
	cursor: pointer;
}

.x line {
	stroke: #ccc;
}

.tweet rect {
	fill: white;
	fill-opacity: 0.8;
	stroke: black;
	stroke-width: 2px;
}

.tweet:hover rect {
	fill: #E5F7FF;
}

.tweet.selected rect {
	fill: #BEDEFF;
}

.tweet.selected:hover rect {
	fill: #E5F7FF;
}
