@CHARSET "UTF-8";

.logon_image {
	fill: #59323c;
	fill-opacity: 0.7;
	filter: url(#blur);
}

.logon_image:hover {
	fill: #260126;
}

@-webkit-keyframes loading_image_anim {
	0% {
	opacity: 1
	}
	100% {
	opacity: 0
	}
}

@keyframes loading_image_anim {
	0% {
	opacity: 1
	}
	100% {
	opacity: 0
	}
}

.about_link {
	position: absolute;
	top: 10px;
	right: 10px;
}

.loading_image {
	top: 50px;
	left: 50px;
	position: relative;
	background: none;
	width: 128px;
	height: 128px;
}

.loading_image > div {
	top: 0;
	left: 0;
	width: 14px;
	height: 40px;
	background: #59323c;
	border-radius: 20px;
	position: absolute;
}

.loading_image > div:nth-of-type(1) {
	-webkit-animation: loading_image_anim 1s linear infinite;
	animation: loading_image_anim 1s linear infinite;
	-webkit-animation-delay: -0.5s;
	animation-delay: -0.5s;
	-webkit-transform: rotate(0deg) translate(0,-60px);
	transform: rotate(0deg) translate(0,-60px);
}

.loading_image > div:nth-of-type(2) {
	-webkit-animation: loading_image_anim 1s linear infinite;
	animation: loading_image_anim 1s linear infinite;
	-webkit-animation-delay: -0.4166666666666667s;
	animation-delay: -0.4166666666666667s;
	-webkit-transform: rotate(30deg) translate(0,-60px);
	transform: rotate(30deg) translate(0,-60px);
}

.loading_image > div:nth-of-type(3) {
	-webkit-animation: loading_image_anim 1s linear infinite;
	animation: loading_image_anim 1s linear infinite;
	-webkit-animation-delay: -0.33333333333333337s;
	animation-delay: -0.33333333333333337s;
	-webkit-transform: rotate(60deg) translate(0,-60px);
	transform: rotate(60deg) translate(0,-60px);
}

.loading_image > div:nth-of-type(4) {
	-webkit-animation: loading_image_anim 1s linear infinite;
	animation: loading_image_anim 1s linear infinite;
	-webkit-animation-delay: -0.25s;
	animation-delay: -0.25s;
	-webkit-transform: rotate(90deg) translate(0,-60px);
	transform: rotate(90deg) translate(0,-60px);
}

.loading_image > div:nth-of-type(5) {
	-webkit-animation: loading_image_anim 1s linear infinite;
	animation: loading_image_anim 1s linear infinite;
	-webkit-animation-delay: -0.16666666666666669s;
	animation-delay: -0.16666666666666669s;
	-webkit-transform: rotate(120deg) translate(0,-60px);
	transform: rotate(120deg) translate(0,-60px);
}

.loading_image > div:nth-of-type(6) {
	-webkit-animation: loading_image_anim 1s linear infinite;
	animation: loading_image_anim 1s linear infinite;
	-webkit-animation-delay: -0.08333333333333331s;
	animation-delay: -0.08333333333333331s;
	-webkit-transform: rotate(150deg) translate(0,-60px);
	transform: rotate(150deg) translate(0,-60px);
}

.loading_image > div:nth-of-type(7) {
	-webkit-animation: loading_image_anim 1s linear infinite;
	animation: loading_image_anim 1s linear infinite;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	-webkit-transform: rotate(180deg) translate(0,-60px);
	transform: rotate(180deg) translate(0,-60px);
}

.loading_image > div:nth-of-type(8) {
	-webkit-animation: loading_image_anim 1s linear infinite;
	animation: loading_image_anim 1s linear infinite;
	-webkit-animation-delay: 0.08333333333333337s;
	animation-delay: 0.08333333333333337s;
	-webkit-transform: rotate(210deg) translate(0,-60px);
	transform: rotate(210deg) translate(0,-60px);
}

.loading_image > div:nth-of-type(9) {
	-webkit-animation: loading_image_anim 1s linear infinite;
	animation: loading_image_anim 1s linear infinite;
	-webkit-animation-delay: 0.16666666666666663s;
	animation-delay: 0.16666666666666663s;
	-webkit-transform: rotate(240deg) translate(0,-60px);
	transform: rotate(240deg) translate(0,-60px);
}

.loading_image > div:nth-of-type(10) {
	-webkit-animation: loading_image_anim 1s linear infinite;
	animation: loading_image_anim 1s linear infinite;
	-webkit-animation-delay: 0.25s;
	animation-delay: 0.25s;
	-webkit-transform: rotate(270deg) translate(0,-60px);
	transform: rotate(270deg) translate(0,-60px);
}

.loading_image > div:nth-of-type(11) {
	-webkit-animation: loading_image_anim 1s linear infinite;
	animation: loading_image_anim 1s linear infinite;
	-webkit-animation-delay: 0.33333333333333337s;
	animation-delay: 0.33333333333333337s;
	-webkit-transform: rotate(300deg) translate(0,-60px);
	transform: rotate(300deg) translate(0,-60px);
}

.loading_image > div:nth-of-type(12) {
	-webkit-animation: loading_image_anim 1s linear infinite;
	animation: loading_image_anim 1s linear infinite;
	-webkit-animation-delay: 0.41666666666666663s;
	animation-delay: 0.41666666666666663s;
	-webkit-transform: rotate(330deg) translate(0,-60px);
	transform: rotate(330deg) translate(0,-60px);
}

#simplemodal-overlay {
	background-color: 1000;
}

#simplemodal-container {
	height: 360px;
	width: 600px;
	background: linear-gradient(#f2eeb3 0%, #bfaf80 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
	border: 4px solid #260126;
	padding: 12px;
}

#simplemodal-container .simplemodal-data {
	padding: 8px;
}

#simplemodal-container a.modalCloseImg {
	background: url('../img/x.png') no-repeat;
	width: 25px;
	height: 29px;
	display: inline;
	z-index: 3200;
	position: absolute;
	top: -15px;
	right: -16px;
	cursor: pointer;
}
